[Unit]
Description=Щогодинний запуск підрахунку повідомлень

[Timer]
# TODO: реалізуйте OnCalendar та Persistent

[Install]
# TODO: реалізуйте WantedBy
