[Unit]
Description=TODO: реалізуйте опис

[Timer]
# Підказка: у OnCalendar перед датою можна вказати день тижня (скорочена англійська назва).
# TODO: реалізуйте OnCalendar та Persistent

[Install]
# TODO: реалізуйте WantedBy
